# .clang-format
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ColumnLimit: 220
SortIncludes: false
IncludeBlocks: Preserve
KeepEmptyLinesAtTheStartOfBlocks: false
IndentCaseLabels: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceInEmptyParentheses: false
SpaceBeforeAssignmentOperators: true
ContinuationIndentWidth: 4
